<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div>{{ message }}</div>
    <p v-bind:id="uuid" v-bind:class="name">{{num}}</p>
    <p>{{doubleNum}}</p>

    <!-- be cautious about difference between v-if and v-show -->
    <div v-if="loading">Loading...</div>
    <div v-else>user logged in</div>
    <div v-show="loading">Loading2...</div>

    <!-- data binding -->
    <input type="text" v-model="model">
    <p>{{model}}</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'hi',
            num: 10,
            uuid: 'abcd123',
            name: 'text-center',
            loading: true,
            model: ''
        },
        computed: {
            doubleNum() {
                return this.num * 2
            }
        }
    })

</script>
</body>
</html>